.category {
    background-color: #eee;
    font-size: 2em;
    border-radius: 3px;
    min-height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.category:hover {
    background-color: #ddd;
}

.product {
    margin: 0.5em 0;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.product:hover {
    background-color: #eee;
}

.note {
    margin: 1em 0;
    color: red;
}

header {
    background-color: #eee;
}